.bg-lightgreen{
  color: #F8FFFE;
}
.bg-footer{
  background-color: #FBFBFB;
}
.bg-main{
  background-color: #FBFBFB;
}
.bag1{
  background-color: #F5F6FE;
  height: 75%;
}
.bag2{
  background-color: #FEF9F5;
  height: 75%;
}
.bag3{
  background-color: #FEFBF5;
  height: 75%;
}
.bag4{
  background-color: #FEFCF5;
  height: 75%;
}
.bag5{
  background-color: #FEF5F9;
  height: 75%;
}
.bag6{
  background-color: #F6FEF5;
  height: 75%;
}